models
__pycache__
_misc
venv
linuxenv
snippets.py
.env
*.wav
*.mp3
utils/prompt.py
utils/translate_util.py
static/audios/
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history